.footerContainer {
    margin-top: 4rem;
    background-image: url('../assets/footer-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    color: #fff;
    margin-bottom: 2rem;
}

.footerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whiteLogo {
    margin-top: 4rem;
    margin-left: 2rem;
    width: 350px;
}

.whiteLogo img {
    width: 100%;
    filter: brightness(0) invert(1);
}

.footerText {
    margin-top: 1rem;
    margin-left: 1.4rem;
    padding: 1rem;
}

.footerAdress {
    margin-top: 10rem;
    margin-left: 12rem;
}

.footerAdress i {
    font-size: 1.8rem;
}

.areaAdress,
.emailAdress {
    display: flex;
    align-items: center;
    margin-bottom: .4rem;
}

.footerAdress span {
    font-size: 1rem;
    margin-left: 1rem;
}

.copyrightContainer {
    display: grid;
    height: 50px;
    margin-top: 4rem;
    gap:1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.copyrightText,.author {
    margin-left: 2.2rem;
}

.author a {
    color: #fff;
    text-decoration: underline;
}

.author a:hover {
    color: rgba(255, 255, 255, .8);
    text-decoration: underline;
}

.socialIcon {
    margin-left: 8rem;
}

.socialIcon a {
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
}
.socialIcon a:hover{
    color:rgba(255, 255, 255, .8);
}

/* ------------------------For Medium Devices----------------------------- */
@media only screen and (min-width:768px) and (max-width:1000px) {
    .footerContainer{
        height:450px;
    }
    .footerAdress {
        margin-top: 12rem;
        margin-left: 0rem;
    }
    .copyrightContainer {
        margin-top: 2rem;
        gap:.5rem;
        text-align: center;
        grid-template-columns: 1fr;
    }
    .socialIcon {
        margin-left: 1rem;
    }
}



/* ---------------------------For Smalll Devices------------------------------- */

@media only screen and (max-width:668px) {
    .footerContainer {
        height: 640px;
        margin-bottom: 1rem;
    }

    .footerInfo {
        grid-template-columns: 1fr;
    }

    .whiteLogo {
        margin-left: .8rem;
        
        width: 100%;
    }

    .whiteLogo img {
        width: 210px;
    }

    .footerText {

        margin-top: 1rem;
        margin-left: 0rem;
    }

    .footerAdress {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .footerAdress i {
        font-size: .8rem;
    }
    .footerAdress span {
        font-size: .8rem;
        margin-left: .2rem;
    }

    .copyrightContainer {
        text-align: center;
        padding: 10px;
        gap:.5rem;
        grid-template-columns: 1fr;
    }

    .copyrightText,.author {
        margin-left: .1rem;
        font-size: .8rem;
    }
    .socialIcon {
        margin-top: 1rem;
        margin-left: 0rem;
    }
}